
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(95, 168, 95);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

label {
    color: black;
}

input {
    border-radius: 20px;
    border: 100px;
}
